.img-logo {
    width: 50px;
    height: 50px;
}

.btn-primary {
    background-color: #009FE2;
}

.bg-feuh {
    background-color: #85BFEA;
}


.f-color {
    color: #009FE2;
}

.border-color {
    border-color: #009FE2;
}

.bg-header {
    background-color: #00000018;
    
}

